*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.background{
  background-image: url(./Flex-images/Frame.png);
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
  height: 750px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  gap: 60px;
}

.content{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  color: white;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.text_buttons{
  display: flex;
  gap: 25px;
  width: 48%;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px ;
  padding: 16px 17px ;
  color: white;
  cursor: pointer;
  
}
.right_button{
  width: 44%;
}


.buy{
  background: linear-gradient(
to right,
  rgba(255, 255, 0, 0.2),
  rgb(255, 191, 0),
  rgba(255, 255, 0, 0.3)
  );
  /* border-style:hidden; */
  border: 0.1px solid white;
}

.text_buttons:hover{
  transform: scale(1.05)
}

h1{
  font-size: 33px;
  font-weight: bold;
}

.text p {
  color: rgba(255, 255, 255, 0.805);
  font-size: 14px;
  line-height: 1.5;

}

h5{
  color: rgba(255, 255, 255, 0.805);
  margin-bottom: -8px;
  font-size: 13px;
  text-indent: 3px;
}
h6{
  font-size: 14px;
  text-indent: 6px;
  margin-bottom: 5px;
  margin-top: -8px;
 
}

.buttons p{
  font-size: 12px;
  font-weight: bold;
}


.fish{
  margin-left: auto;
}
.fish img {
  width: 625px;
}







